:root {
  --primary-color: #4e47ff;
  --primary-surface: #f5f8ff;
  --secondary-surface: rgba(77, 71, 255, 0.1);
  --text-color: #333;
  --primary-font: 'Raleway';
  --secondary-font: 'Inter';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: 0.3s ease;
  font-family: var(--primary-font);
}

.each-section {
  display: block;
  margin: 20px 0;
}

.horizontal-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.father-div {
  width: 100%;
}
/* 

.banner {
}
.nav-item {
}


.action-left {
}
.action-right {
}

.inline-childs {
}
.user-stat {
}

.user-rating {
}
.stars {
}
.user-info {
}
.user-avatar {
}
.user-name {
}

.ready-to-focus {
}

.get-in-touch {
}
.get-in-touch-left {
}
.flex-start {
}
.get-in-touch-right {
}
.flex-end {
}
.block-childs {
}
.get-in-touch-input {
}

.footer {
} */
